<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>albumName</key>
	<string>Go Time</string>
	<key>artistName</key>
	<string></string>
	<key>coverURL</key>
	<string>https://i.scdn.co/image/18d9cacf366a7173b10204eb983fe5d374b728dd</string>
	<key>currentPosition</key>
	<string>2385</string>
	<key>isLoved</key>
	<string>false</string>
	<key>oldFilename</key>
	<string>NA</string>
	<key>songChanged</key>
	<string>false</string>
	<key>songDuration</key>
	<string>4</string>
	<key>songName</key>
	<string>The Zen of Go</string>
</dict>
</plist>
