<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>albumName</key>
	<string>Find Another Way</string>
	<key>artistName</key>
	<string>Seven Lions</string>
	<key>coverURL</key>
	<string>https://i.scdn.co/image/ab67616d0000b27324c75674f34d9e1a347c16df</string>
	<key>currentPosition</key>
	<string>4</string>
	<key>isLoved</key>
	<string>false</string>
	<key>oldFilename</key>
	<string>NA</string>
	<key>songChanged</key>
	<string>true</string>
	<key>songDuration</key>
	<string>290</string>
	<key>songName</key>
	<string>What’s Done Is Done</string>
</dict>
</plist>
